<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/formLogin.css">
    <title>Document</title>
</head>
<body>
<!-- Header -->
    <%- include('header') %>

    <form class="formLogin" action="handleLogin" method="post">
      
        <div class="container">
          <label for="uname"><b>Tên đăng nhập</b></label>
          <input type="text" placeholder="Nhập tên đăng nhập" name="username" required>
      
          <label for="psw"><b>Mật khẩu</b></label>
          <input type="password" placeholder="Nhập mật khẩu" name="password" required>
      
          <button type="submit">Đăng nhập</button>
    
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <span class="psw">Forgot <a href="#">Quên mật khẩu?</a></span>
        </div>
      </form>

    <a href="/register">Đăng ký tài khoản?</a>
</body>
</html>