<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<!-- Header -->
<%- include('header') %>

<!-- Content -->
<div class="content" >
<H1>    CHƯA ĐĂNG NHẬP </H1>
</div>
    

 <!-- Footer -->
 <%- include('footer') %>
</body>
</html>